body{
   background-image: url('../images/background-website.jpg');
   background-attachment: fixed;
   background-size: cover;
}
/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  .one{
    background-color: aliceblue;
    border-radius: 50px;
    text-align: center;
    margin-top: 25px;
    padding-left: 5px;
    padding-top: 5px;
  }
  .two{
    background-color: bisque;
    border-radius: 50px;
    text-align: center;
    margin-top: 25px;
    padding-left: 5px;
    padding-top: 5px;
  }
  .three{
    background-color: blanchedalmond;
    border-radius: 50px;
    text-align: center;
    margin-top: 25px;
    padding-left: 5px;
    padding-top: 5px;
  }
  .four{
    background-color: aqua;
    border-radius: 50px;
    text-align: center;
    margin-top: 25px;
    padding-left: 5px;
    padding-top: 5px;

  }
  .five{
    background-color: azure;
    border-radius: 50px;
    text-align: center;
  }
 /* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}
p{
  font-size: 200%;
  font-family: 'Times New Roman', Times, serif;
}

/* Style the footer */
footer {
  background-color: #666;
  padding: 10px;
  text-align: center;
   margin-top: 1cm;
  color: white;
}
   
